
body {
    background-color: #878584;
    margin:0;
    padding:0;
}

main {
    background-color: #878584;
    padding: 16px;
}

footer {
    font-family: 'Indie Flower', cursive;
    background-color: rgb(83, 180, 180);
    text-align: center;
    padding: 24px 0px 24px 0px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3px;
}

img {
    height: 120px;
    padding: 0;
}

.transition-box {
    transition: all 0.5s linear;
    color: darkslategrey;
    border: 1px solid var(--primary-border-color);
    height: 120px;
    width: 120px;
    padding: 20px 0px 20px 0px;
}

.transition-box:hover {
    transform: scale3d(1,1,1) ;
    color: black;
    background-color: rgb(83, 180, 180);
    height: 120px;
    width: 12px;
    padding: 20px;
}

h2 {
    font-family: 'Indie Flower', cursive;
    color: #ffffff;
}

nav {
    font-family: 'Indie Flower', cursive;
    background-color: #ffffff;
    border: 0px 0px 1px 0px solid black;
    padding: 16px;
}

#scrump {
    color: rgb(83,1280, 180);
}

a {
    color:rgb(0, 0, 0);
    text-decoration: none;
}

#body2 {
    background-color: #ffffff;
    margin:0;
    padding:0;
    border-left: 20px solid #878584;
    border-right: 20px solid #878584;
    border-top: 20px solid #878584;
}

#main2 {
    background-color: #ffffff;
    padding-left: center;
}

#footer2 {
    font-family: 'Indie Flower', cursive;
    background-color: #878584;
    text-align: center;
    position: absolute;
    padding: 60px 0px 24px 0px;
    bottom: 0px;
    left: 0;
    right: 0;
    height: 3px;
}

#img2 {
    height: 225px;
    padding-left: 3px;
    box-shadow: 13px 12px 10px solid black;
}

#nav2 {
    background-color: #878584;
    font-family: 'Indie Flower', cursive;
    border: 0px 0px 1px 0px solid black;
    padding: 16px;
}

#right1 {
    background-color: #878584;
}

#th2 {
    color: black;
    padding-left: 20px;
}

#td2 {
    padding-left: 20px;
}

#ing {
    padding-left: 55px;
}

#step {
    color: black;
    padding-left: 85px;
}

#ol2 {
    padding-left: 19px;
}

#stars2 {
    padding-left: 3px;
}

#li2 {
    word-wrap: break-word;
    width: 230px;
}

#a2 {
    font-family: 'Indie Flower', cursive;
    text-decoration: none;
    color: black;
}

#vegtit {
    font-family: 'Indie Flower', cursive;
    color: rgb(83, 180, 180);
}

#detailtit {
    font-family: 'Indie Flower', cursive;
}

div.container{
    color: white;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
}

div.six {
    grid-column-start: 1;
    grid-column-end: 2;
}
div.five {
    grid-column-start: 3;
    grid-column-end: 4;
}
div.four {
    grid-column-start: 5;
    grid-column-end: 6;
}
div.three {
    grid-column-start: 7;
    grid-column-end: 8;
}
div.two {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 2;
}
div.one {
    grid-row-start: 2;
    grid-column-start: 3;
    grid-column-end: 4;
}

#vegtac{
    font-family: 'Indie Flower', cursive;
    color: white;
}

#allthat {
    color: black;
}

#stars {
    color: black;
}
